.footer{ padding-block-end: 24px; border-top:1px solid rgba(255,255,255,.08); }

.footer .container{
  max-width:1184px;
  display: block;
  margin-inline:auto;
  padding-inline:48px;
  text-align:center;
}

/* Tipografia Desktop */
.footer__copyright{
  margin:0;
  color:rgba(255,255,255,.75);
  font-weight:400;             
  font-size: 14px;              
  line-height: 1.0;            
  letter-spacing:0px;          
}

/* Tablet */
@media (max-width:1024px){
  .footer{ padding-block-end: 24px; }
  .footer .container{ max-width:768px; padding-inline:32px; }
}

/* Mobile */
@media (max-width:544px){
  .footer{ padding-block-end: 24px; }
  .footer .container{ max-width:100%; padding-inline:16px; }
  .footer__copyright{ font-size: 14px; line-height: 1.0; }
}
